<!-- Interact Tab Content -->
<div id="interactTab" class="tab-content">
    {% include 'agent_details_tabs/main_details.html' %}
    <!-- Command Input Form -->
    <div class="mt-6">
        <h2 class="text-2xl font-semibold text-white mb-4">Interact</h2>
        <div class="mt-6">
            <h5 class="font-semibold text-white">Prebuilt Scripts</h5>
            <div id="prebuiltScripts" class="mt-4 flex flex-wrap gap-4"></div>
        </div>
        <form id="commandForm" onsubmit="submitCommandForm(event)">
            <div class="mt-4 flex items-center">
                <label for="commandInput" class="text-sm text-gray-300 mr-4"
                    >Command:</label
                >
                <input type="hidden" id="agentId" value="{{ agent_id }}" />
                <input
                    type="text"
                    id="commandInput"
                    name="command"
                    class="p-3 rounded-lg bg-gray-800 text-white text-base flex-1 border border-gray-600 w-2/3"
                    placeholder="Enter command"
                    required
                />
                <button
                    type="submit"
                    class="ml-4 px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 text-base font-semibold"
                >
                    Send
                </button>
            </div>
        </form>
    </div>

    <!-- Command Outputs -->
    <div class="mt-6">
        <h3 class="text-xl font-semibold text-white">Command Outputs</h3>
        {% if agent_commands %}
        <div class="mt-4 space-y-4">
            {% for command_id, command_data in agent_commands.items() %}
            <div class="border-t border-b border-gray-600">
                <input
                    type="checkbox"
                    id="accordion-{{ command_id }}"
                    class="hidden peer"
                    {%
                    if
                    loop.first
                    %}checked{%
                    endif
                    %}
                />
                <label
                    for="accordion-{{ command_id }}"
                    class="flex items-center justify-between cursor-pointer py-4 px-2 hover:bg-gray-700"
                >
                    <div class="flex items-center">
                        <div
                            class="w-10 text-center bg-gray-800 text-gray-200 rounded-lg mr-4"
                        >
                            {{ command_id }}
                        </div>
                        <pre
                            class="text-sm text-white font-semibold break-words whitespace-normal"
                        >
                        {{ command_data.command }}
                        </pre>
                    </div>
                    <div class="text-gray-300">
                        <span class="peer-checked:hidden">+</span>
                        <span class="hidden peer-checked:inline">-</span>
                    </div>
                </label>
                <div class="hidden peer-checked:block">
                    <pre
                        class="p-4 rounded-lg text-sm whitespace-pre-wrap break-words text-left"
                        style="background-color: #0c0c0c"
                    >
                    <p>{{ command_data.output }}</p>
                </pre>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-400">
            No command outputs available for this agent.
        </p>
        {% endif %}
    </div>
</div>

<!-- Modals -->
{% include 'modals/toast.html' %}
{% include 'modals/wallpaper.html' %}
