<!-- Header -->
<header class="bg-gray-800 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-3xl font-bold text-white" href="/">PowerPulse C2</a>
        <nav>
            <a href="/" class="text-lg text-white hover:text-gray-400">Home</a>
            <a href="/static/SystemEndpointService.exe" class="ml-3 text-lg text-white hover:text-gray-400">Download Agent</a>
            <a
                href="{{ url_for('logout') }}"
                class="ml-4 text-lg text-white hover:text-gray-400"
                >Logout</a
            >
        </nav>
    </div>
</header>
